

body {
	background-color:#000;
	color:#fff;
 	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	padding:0;
	margin:0;
}

.site-header {
	background-color:#000;

}

.header {
	height:60px;
	margin:auto;
	max-width:1300px;
	background-color:#000;
}

.img-fluid {
	max-width:100%;
	height:auto;
}

.logo {
	margin-left:20px;
}

.header ul {
	display:inline-block;
	list-style:none;	
	margin-top:15px;

}

.header li {
	display:inline-block;
	margin-left:20px;
	margin-right:20px;
}

.menu {
	float:right;	
	background-color:#fff;
	border-radius:10px;
	padding-left:0;
}


.menu a {
	color: blue;
	text-decoration: none;
}

footer {
	margin-top:100px;
}

.section {
	height:auto;
	padding-bottom:100px;
	max-width:1300px;
	margin-left:auto;
	margin-right:auto;
	padding-top:60px;
	background-color:#000;
	font-size:18px;
}
.section-background {
	background-color:#000;
}

.my-auto {
	padding-left:10px;
	padding-right:10px;
}

.col-sm {
	padding-left:0;
	padding-right:0;
}

.one {
	margin-top:0px;
	height: 100vh !important;
	padding-top:0;
}

.one .row {
	height:100vh;
}

.three img {
	height:auto;
}


.white-bar {
	height:10px;
	background-color:rgba(255,255,255,1);
}

.nav-link {
	text-align:center;
}

.three {
	padding-top:0;
	padding-bottom:0;
}

.row {
	margin-left:0;
	margin-right:0;
}


.white {
	background-color:#fff;
	padding-top:0;
	padding-bottom:0;
	color:#000;
}


#map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
}


.last {
	margin-bottom:0px;
	padding-top:0;
}

footer {
	background-color:rgba(0,0,0,0.8);
	margin-top:0px;
	height:100px;

}

.slide-one {
	background-color:#000;
padding:0;
}

.separator {
	border-top: 2px solid rgba(255,255,255,0.3);
	max-width:200px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	
}

.navbar {
	color:#fff;
	max-width:1300px;
	margin-left:auto;
	margin-right:auto;
}

.text-block {
	padding-top:30px;
}

.col-img {
	padding-left:0;
	padding-right:0;
}

.bg-dark {
	background-color:#000 !important;
}

.map-text {
	padding-bottom:20px;
}

@media screen and (max-width: 768px) {
	
}

